.Movies {
  .Movies-container {
    padding: 20px;
    .Movies-now-playing {
      .Movies-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 125px);
        gap: 25px;
      }
    }
  }
}

@media (max-width: 1028px) {
}
@media (max-width: 768px) {
}

@media (max-width: 540px) {
  .Movies {
    .Movies-container {
      .Movies-now-playing {
        .Movies-list {
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 384px) {
}
